*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #333;
}

header{
	height:50px;
	background-color: #111;
	color: white;
	font-size: 30px;
	font-family: 'Rubik', sans-serif;
}
header #title{
	position: absolute;
	display: inline-block;
	margin: 8px 0 0 8px;
	font-size: 30px;
    color: white;
    text-align: center;
}

span{
	display: inline-block;
	white-space: nowrap;
}

button{
	height: 40px;
	padding: 5px;
	font-size: 1.3em;
}
button:mousedown{
	background-color: #CCC;
}

input{
	padding:2px;
	margin:2px;
}

textarea{
	display: block;
	min-width: 500px;
	min-height: 50px;
}

/*
 *  CLASSES
 */

.box{
	position: relative;
	border: solid black 1px;
	background-color: #FFF;
	padding: 5px;
	margin: 5px;
}

.column{
	display: inline-block;
	max-width: 30%;
}
.column span{
	display: block;
	padding: 5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.character{
	padding: 5px;
}
.character:hover{
	background-color: #CCC;
}

.title{
	font-size: 1.2em;
	padding: 5px;
	text-transform: uppercase;
	width: 98%;
	text-align: center;
	background-color: #DDD;
}

.alias{ width: 88%; }
.pointsValue { width: 40px; }
.alias, .pointsValue{
	height: 20px;
	font-size: 1em;
}

.alt0{ background-color: #DDD; }
.alt1{ background-color: #FFF; }

/*
 *  IDs
 */

#navbar{
	display: inline-block;
	position: relative;
	float: right;
	margin: 0 20px 0 0;
}
#navbar ul {
	height: 100%;
	font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}
#navbar ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
}
#navbar ul li:hover {
    background-color: #111;
}

#navbar ul li.active{
	background-color: #333;
}

#character-attributes{
	font-size: 1.5em;
}
#character-attributes input{
	width: 40px;
	height: 30px;
	margin-left: -10px;
	font-size: 1.1em;
}

#character-secondarystats span label{
	font-size: 14px;
}

#character-advantages span, #character-disadvantages span, #character-skills span{
	width: 100%;
	display: block;
}